.error{
    position: absolute;
    visibility: hidden;
    top: 42px;
    right: 10px;
    color: red;
}
.errorShow{
    visibility:visible;
    position: absolute;
    top: 42px;
    right: 10px;
    color: red;
}
.wrap_error{
    position: relative;
}
.input_error{
    border: 1px solid red;
    padding-right: 30px;
}
.small{
    margin: 0;
    padding-left: 12px;
    color: red;
}
.errorIconPass{
    position: absolute;
    visibility: hidden;
    top: 42px;
    right: 10px;
    color: red;
}