@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@400;700&family=Hanuman:wght@400;700&family=Siemreap&display=swap');

.tRegister{
    font-family: 'Roboto','Battambang', sans-serif;
    color: #4C68FF;
}
.modal-content{
    font-family: 'Battambang','Roboto';
    border-radius: 1rem;
}

.modal .modal-content { 
    padding: 40px;
    -webkit-animation-name: modal-animation; 
    -webkit-animation-duration: 0.5s; 
    animation-name: modal-animation; 
    animation-duration: 0.5s; 
} 
.line{
    border-bottom: 1px solid black;
}
.btnClose{
    position: absolute;
    top: 30px;
    right: 35px;
    cursor: pointer;
}
.InputfrmRegister{
    background-color: #E4E4E4;
}
.form-rounded{
    border-radius: 1rem;
}